@use '../../styles/' as *;

.login {
  width: 100vw;
  height: 100vh;
  background-color: $background-color;

  &__container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: fit-content;
    max-width: fit-content;

    margin: auto;
    border-radius: 0.5rem;
    padding: 3.2rem 4rem 4rem 4rem;

    border: 0.1rem solid $secondary-gray-normal;
  }

  &__logo {
    width: 15rem;
    margin-bottom: 6.4rem;
  }

  &__divider {
    width: 100%;
    height: 0.05rem;

    background-color: $secondary-gray-normal;

    margin-block: 1.6rem;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;

    width: 100%;

    padding-block: 1rem;

    background-color: white;

    border-radius: 0.4rem;
    border: none;

    color: $gray-dark;

    transition: color 0.3s ease, background-color 0.3s ease;

    svg {
      path {
        transition: fill 0.3s ease;
      }
    }

    &:hover {
      background-color: $brand-blue;
      color: $gray-light;

      cursor: pointer;

      svg {
        path {
          fill: $gray-light;
        }
      }
    }
  }
}
