$background-black: #09090a;
$background-sidebar: #121214;
$brand-blue: #0096fb;
$gray-light: #e1e1e6;
$gray-light-moderate: #c4c4cc;
$gray-normal: #a8a8b3;
$gray-dark: #121214;
$secondary-gray: #8d8d99;
$secondary-gray-normal: #29292e;
$secondary-gray-dark: #121214;
$hover-gray: #202024;
