@use '../../styles/' as *;

.lesson {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 2rem 4rem;
  border-bottom: 1px solid $secondary-gray-normal;
  transition: 0.3s ease;

  &:hover {
    background-color: $hover-gray;
  }

  p {
    font-size: 1.2rem;
    font-weight: 700;
    color: $secondary-gray;
  }
}

.currentVideo {
  background-color: $hover-gray;

  h2 {
    color: $brand-blue;
  }
}
