@use '../../styles/' as *;

.lesson {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 20px 40px;
  border-bottom: 1px solid $secondary-gray-normal;
  transition: 0.3s ease;

  &:hover {
    background-color: $secondary-gray-dark;
  }

  p {
    font-size: 12px;
    font-weight: 700;
    color: $secondary-gray;
  }
}
