@use '../../styles/' as *;

.description {
  grid-area: C;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  margin-left: 1.6rem;

  @include responsive(mobile) {
    margin-left: 2rem;
  }

  &__abstract {
    margin: 1.6rem 3.2rem 3.2rem 0rem;
  }

  &__professor {
    width: 33.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 4rem;
  }

  &__professor-photo {
    margin-inline: 1.6rem 2.4rem;

    img {
      width: 5.6rem;
      height: 5.6rem;
      border: 2px solid $brand-blue;
      border-radius: 2.8rem;
    }
  }

  &__professor-informations {
    align-self: center;

    display: flex;
    flex-direction: column;
    white-space: nowrap;
  }

  &__assets {
    border: 1px solid $secondary-gray-normal;

    padding: 2.4rem 1.6rem;

    width: fit-content;
    margin-bottom: 3.2rem;

    display: flex;
    align-items: center;
    gap: 3.2rem;

    margin-right: 3.2rem;

    @include responsive(mobile) {
      flex-direction: column;
    }
  }

  &__assets-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;

    width: 25rem;

    background-color: $brand-blue;
    text-transform: uppercase;
    color: #000000;

    height: 4rem;

    border-radius: 0.4rem;

    font-size: 1.4rem;
    font-weight: 700;

    cursor: pointer;

    transition: color 0.3s ease;

    @include responsive(mobile) {
      width: 31rem;
      height: 5rem;
    }

    &:hover {
      color: #ffffff;
    }
  }
}
