@use '../../styles/' as *;

.sidebar {
  grid-area: B;

  // margin-top: 40px;
  background-color: $background-sidebar;
 

  border: 1px solid $lines-gray;
  border-bottom: 0;

  height: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
