@use '../../styles/' as *;

footer {
  border-top: 1px solid $secondary-gray-normal;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__informations {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin-block: 40px;
  margin-left: 16px;
  width: 440px;
  height: 29px;
}

.footer__informations-logo {
  margin-right: 24px;

  p {
    color: $secondary-gray;
  }
}

.footer__social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 16px;

  svg {
    transition: 0.3s ease;
  }

  svg:hover {
    opacity: 0.5;
  }

  a:first-child {
    margin-right: 16px;
  }
}
